In [10]:
from dfs import Dataframes
from helpers import Source
import pandas as pd

In [3]:
Dataframes.bse

,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,2010-01-15,2010-01-18,...,2023-02-13,2023-02-14,2023-02-15,2023-02-16,2023-02-21,2023-02-22,2023-02-23,2023-02-24,2023-02-27,2023-02-28
061836,-0.029046,0.012821,-0.008439,NaN,NaN,-0.008475,-0.017094,-1.234699e-09,-0.004348,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164293,-0.009416,0.002852,0.006635,-0.004708,0.004730,0.002825,0.007512,6.589147e-02,-0.050000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
012206,0.005335,-0.014741,0.013465,0.007381,-0.013775,-0.018128,0.013923,1.194031e-03,-0.006559,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176609,-0.015873,-0.022071,0.004340,NaN,NaN,NaN,-0.005947,-6.837607e-03,0.016351,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149477,0.026786,-0.008696,-0.008772,-0.026549,0.018182,-0.035714,0.062500,-1.739131e-02,-0.035398,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
066288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.003497,-0.013304,0.006100,-0.005424,-0.014678,-0.005181,0.006836,-0.013902,0.007213,-0.003906
035030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.014139,-0.026616,0.005208,-0.006477,-0.025641,-0.002699,0.007442,-0.019476,0.005479,-0.003406
061129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.024112,-0.012392,0.012547,-0.007435,-0.031368,NaN,NaN,-0.018041,-0.006562,0.005284
065176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.010571,-0.007886,0.004359,-0.014552,-0.010499,-0.000776,0.009065,-0.004107,0.004381,NaN
176333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.016129,-0.011840,-0.005530,-0.021218,0.002828,0.008459,-0.017707,0.014232,0.002806

In [15]:
s = Source("local_data")
bse_records = s.get_records("best_ever_strategy_short_returns.parquet", True)
bse_unflated = pd.DataFrame.from_records(bse_records, columns=['datadate', 'gvkey', 'rtn'])
bse_unflated
# bse_unflated.to_csv('best_ever_strategy.csv', index=False)

           datadate   gvkey       rtn
0        2010-01-05  061836 -0.029046
1        2010-01-05  164293 -0.009416
2        2010-01-05  012206  0.005335
3        2010-01-05  176609 -0.015873
4        2010-01-05  149477  0.026786
...             ...     ...       ...
2266021  2023-02-28  066288 -0.003906
2266022  2023-02-28  035030 -0.003406
2266023  2023-02-28  061129  0.005284
2266024  2023-02-28  065176       NaN
2266025  2023-02-28  176333  0.002806

[2266026 rows x 3 columns]